<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.companyname.PhoneDial">
    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
    </queries>

    <application android:label="PhoneDial.Android">
        <!-- ... other configurations ... -->
    </application>
</manifest>
